<div class="team container-fluid">
  <div class="row">
    <div class='header col-lg-12'>
      Meet our team members!
    </div>
  </div>
  <div class="row pt-3">
    <div class="profile_container col-sm">
      <div class="profile flex_col">
        <div class="profile_pic">
          <img src="../../assets/images/mingyi.jpg" width="100%" alt="" />
        </div>
        <div class="profile_content flex_col">
          <div class="name">
            MING-YI LIN
          </div>
          <div class="contact">
            linmingy@usc.edu
          </div>
          <div class="jobs">
            Web Developing, User Interface Design, Data Processing and Data Analysis
          </div>
        </div>
      </div>
    </div>
    <div class="profile_container col-sm">
      <div class="profile flex_col">
        <div class="profile_pic">
          <img src="../../assets/images/hsinyu.jpeg" width="100%" alt="" />
        </div>
        <div class="profile_content flex_col">
          <div class="name">
            HSIN-YU CHANG
          </div>
          <div class="contact">
            hsinyuch@usc.edu
          </div>
          <div class="jobs">
            User Interface Design, Statistical thinking, Data processing and Data Visualization
          </div>
        </div>
      </div>
    </div>
    <div class="profile_container col-sm">
      <div class="profile flex_col">
        <div class="profile_pic">
          <img src="../../assets/images/zhaoyang.jpg" width="100%" alt="" />
        </div>
        <div class="profile_content flex_col">
          <div class="name">
            ZHAOYANG SONG
          </div>
          <div class="contact">
            zhaoyans@usc.edu
          </div>
          <div class="jobs">
            Product-Oriented thinking, Interactive Coding, Design skills,
            and Data Analysis
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
