<div class="app-container container-fluid" #visualization>
  <div class="row">
    <div
      class="order-2 order-lg-1 pl-0 pr-1"
      [ngClass]="{
        'col-lg-7': this.station != null,
        'col-lg-12': this.station == null
      }"
    >
      <app-map></app-map>
    </div>
    <div class="col-lg-5 order-1 order-lg-2 pl-0 pr-0">
        <app-station-status></app-station-status>
    </div>
  </div>
  <fa-icon *ngIf="width < 1000" class="scrollToTopBtn" 
    [icon]="faChevronUp" 
    placement="left" 
    ngbTooltip="Click to scroll to the top"
    tooltipClass="tooltip_container"
    (click)="visualization.scrollTop = 0">
  </fa-icon>
</div>
