/* You can add global styles to this file, and also import other style files */
.flex_col {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.flex_row {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
}

.bike_station_marker {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 0.9;
  border: 1px solid #77d64b;
  overflow: hidden;
  cursor: pointer;
  background: #77d64b;
  transition: width 0.3s, height 0.3s;
}

.bike_station_marker.hidden{
  opacity : 0.2;
}
.bike_station_marker:hover,
.bike_station_marker.selected{
  border: 2px solid #ffffff;
  width: 30px;
  height: 30px;
}

.bike_station_progess {
  background: #529137;
  width: 100%;
  height: 100%;
  position: relative;
}


#hourlyX line, #quarterX line{
  stroke: #ffffff;
}

#hourlyY line, #quarterY line{
  stroke: #ffffff;
  opacity: 0;
}

#hourlyX path, #quarterX path{
  stroke: #ffffff;
  opacity: 0;
}

#hourlyY path, #quarterY path{
  stroke: #ffffff;
}

#hourlyX text, #hourlyY text, #quarterX text, #quarterY text{
  fill: #ffffff;
}

.hover-rect{
  fill: #b5b5b5;
}

.listeners {
  fill: transparent;
} 


.hover-text {
  text-transform: uppercase;
  font-size: 8px;
  color: #333333;
}

path.line{
  stroke-width: 1;
  fill: none;
}

.axis.axis--x g.tick line,
.axis.axis--y g.tick line{
  display: none;
}

.axis.axis--x g.tick text,
.axis.axis--y g.tick text{
  fill : #9b9b9b;
}

.axis.axis--x .domain,
.axis.axis--y .domain{
  color: #484c4f;
}

.xlabel,
.ylabel{
  fill: #9d9d9d;
  font-size: 10px;
}

path.states{
  fill: transparent;
  stroke: #454545;
  stroke-width: 2;
}

span.area{
 border-bottom: 2px solid #3CC9ED;
 background-color: rgba(0, 203, 241, 0);
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right{
  display: none !important;
}