<div
  class="map_station_tooltip"
  #station_tooltip
>
  <div class="marker_header">
    <span class="title"> {{ this.station.name || "" }} </span>
    <div class="bike_dock_status">
      <span class="flex_col bike_status">
        <span class="name">Bikes</span>
        <span class="status">{{ this.station.bikesAvailable || 0 }} </span>
      </span>
      <span class="flex_col bike_status">
        <span class="name">Docks</span>
        <span class="status"> {{ this.station.docksAvailable || 0 }} </span>
      </span>
    </div>
  </div>
  <div class='filter_func flex_row'>
    <div class='filter_year' [ngClass]="{'selected' : filterYear == year}" (click)="onClickChangeYear(year)" *ngFor="let year of years">{{ year }}</div>
  </div>
  <div class="chart_header flex_row">
    <div class="chart_title">Top 5 Destinations</div>
    <div class="chart_func flex_row">
        <span class="sort_name sort_func" 
            (click)="onClickChangeSort('BY_STATION')"
            [ngClass]="{ selected : sortMethod == 'BY_STATION'}"
            >Sort by station</span>
        <span class="sort_value sort_func" 
            (click)="onClickChangeSort('BY_TIMES')"
            [ngClass]="{ selected : sortMethod == 'BY_TIMES'}"
            >Sort by times</span>
    </div>
  </div>
  <div *ngIf="topFiveStations.length == 0" class="no_data">
      This is a new station and hence no data has been collected for available visualization 
  </div>
  <svg id="inOutBarChart" width="100%"></svg>

  <div class="chart_header flex_row">
    <div class="chart_title">Total Trips by Hour of the Day</div>
  </div>
  <div *ngIf="topFiveStations.length == 0" class="no_data">
    This is a new station and hence no data has been collected for available visualization 
  </div>
  <!-- <svg id="hourlyChart" width="100%"></svg> -->
  <svg id="QuarterChart" width="100%"></svg>
</div>
