<div class="mapContainer">
  <div id="map"></div>
  <!-- <div *ngIf="station.name != ''" class="map_station_tooltip">
    <div class="marker_header">
      <span class="title"> {{ this.station.name }} </span>
    </div>
    <div class="bike_dock_status">
      <span class="flex_col">
        <span class="status">{{ this.station.bikesAvailable }} </span>
        <span class="name">Bikes</span>
      </span>
      <span class="flex_col">
        <span class="status"> {{ this.station.docksAvailable }} </span>
        <span class="name">Docks</span>
      </span>
    </div>
    <hr>
    <svg id="inOutBarChart" width="100%"></svg>
  </div> -->
</div>
